repos:
  - repo: local
    hooks:
      - id: detect-secrets
        name: Detect secrets
        entry: ./scripts/pre-commit-secret-check.sh
        language: script
        pass_filenames: false
        always_run: true
